.analysis__section {
    padding: 20px 35px;
}

.pie {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    font-weight: 700;
    margin: 20px 0;
    font-size: 26px;
}

.titleProcentage {
    font-weight: 700;
    margin: 50px 185px;
    font-size: 26px;
}

.input {
    width: 200px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border: none;
    outline: none;
}

.btn {
    padding: 15px;
    width: 180px;
    border: none;
    font-size: 18px;
    background: #F0F0F0;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3 linear;
}

.btn:hover {
    background: #4caf4faf;
}

.formStyle {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px 400px;
    grid-template-areas: "a b"
        "c d";
    justify-content: space-evenly;
}

.table {
    width: 110%;
    margin: 20px 0px
}

@media only screen and (min-width: 320px) and (max-width: 1440px) {
    .analysis__section {
        padding: 20px 10px;
    }

    .title {
        margin: 10px 0;
        font-size: 12px;
    }

    .titleProcentage {
        font-size: 12px;
    }

    .btn {
        padding: 8px;
        width: 180px;
        font-size: 12px;
    }

    .formStyle {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 300px;
        grid-template-areas: "a"
            "b"
            "c"
            "d";
    }

    .pie {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
}