.planning__section {
    padding: 20px 35px;
}

.overview {
    margin-top: 20px;
}

.overview__title {
    margin-bottom: 20px;
    font-size: 22px;
}


.inputDate {
    width: 200px;
    height: 4em;
}

.deleteIcon {
    cursor: pointer;
    color: darkred;
}