.information__section {
    padding: 20px 35px;
    color: var(--main-green-color);
}

.information__title {
    text-align: center;
    padding: 30px;
    font-size: 30px;
    font-weight: 600;
}

.information__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px 350px 0.5fr;
    grid-template-rows: 300px 300px;
    grid-template-areas:
        "a b c d"
        "e f f d";
    gap: 20px;
}

.one,
.two,
.three,
.five,
.four,
.six {
    overflow: hidden;
    padding: 0;
    cursor: pointer;
}

.four {
    grid-area: d;
}

.six {
    grid-area: f;
}

.information__one_img {
    filter: blur(1px);
    width: 100%;
    height: 100%;
    background-image: url("../../../../src/images/farmerPage.png");
    transition-duration: 1s;
    background-size: cover;
}

.information__two_img {
    filter: blur(1px);
    width: 100%;
    height: 100%;
    background-image: url("../../../../src/images/farmPage.png");
    transition-duration: 1s;
    background-size: cover;
}

.information__three_img {
    filter: blur(1px);
    width: 100%;
    height: 100%;
    background-image: url("../../../../src/images/agroPage.png");
    transition-duration: 1s;
    background-size: cover;
}

.information__four_img {
    filter: blur(1px);
    width: 100%;
    height: 100%;
    background-image: url("../../../../src/images/infoPage.png");
    transition-duration: 1s;
    background-size: cover;
}

.information__five_img {
    filter: blur(1px);
    width: 100%;
    height: 100%;
    background-image: url("../../../../src/images/agroProfilPage.png");
    transition-duration: 1s;
    background-size: cover;
}

.information__six_img {
    filter: blur(1px);
    width: 100%;
    height: 100%;
    background-image: url("../../../../src/images/stockMarketPage.png");
    transition-duration: 1s;
    background-size: cover;
}

.information__one_img:hover,
.information__two_img:hover,
.information__three_img:hover,
.information__four_img:hover,
.information__five_img:hover,
.information__six_img:hover {
    filter: blur(0px);
    transform: scale(1.5);
    z-index: 0;
}