.documents__section {
    padding: 20px 35px;
}

.documents__form {
    margin: 20px 0px;
}

.documents__title {
    margin-right: 20px;
    font-size: 20px;
}

.documents__btn {
    padding: 15px;
    width: 180px;
    border: none;
    font-size: 18px;
    background: #F0F0F0;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3 linear;
    margin-bottom: 50px;
}

.documents__btn:hover {
    background: #4caf4faf;
}