/* style do headera */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    padding: 35px;
    background-color: #ffffff;
    font-weight: 500;
}

.header__name_navName {
    margin-top: 5px;
    font-size: 25px;
    color: var(--main-darkgreen-color)
}

.header__name_navName::first-letter {
    text-transform: capitalize;
}

.header__img {
    width: 75%;
    height: auto;
}

.header__switch {
    margin: -20px;
    align-self: flex-start;

}

/* ciemny styl */

.dark {
    color: var(--darkTheme-color);
    background: var(--darkTheme-background);
}