/* style header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 35px;
    background-color: #ffffff;
    font-weight: 500;

}

.header__name_title {
    font-size: 16px;
}

.header__name_name {
    color: var(--main-darkgreen-color);
}

.header__name_name::first-letter {
    text-transform: capitalize;
}

.header__img {
    width: 75%;
    height: auto;
}


/* dark style */

.dark {
    color: var(--darkTheme-color);
    background: var(--darkTheme-background);
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .header {
        padding: 15px;
        height: 103px;
    }

    .header__name_title {
        font-size: 13px;
    }

    .header__name_navName {
        font-size: 16px;
    }

    .header__img {
        display: none;
    }

}

@media only screen and (min-width: 1440) {
    .header {
        padding: 15px;
        justify-content: space-evenly;
    }

    .header__name_title {
        font-size: 13px;
    }

    .header__name_navName {
        font-size: 16px;
    }

    .header__img {
        display: none;
    }
}